/* Header CSS (Logo + Nav Bar)*/
#header {
	background: #fff url('/images/header/background.png') 0 87px no-repeat;
	height:174px;
	border-top:3px solid #80CD97;
}
#header #headerContent {

  width:995px;


  margin: 0 auto 0 auto;
  color: #555555;
}
#header #headerContent A {
  color: #555555;
  text-decoration: none;
font-weight:600;
font-size:14px;



}
/* Will become obsolete with js */
#header #headerContent A:hover {
  color:#00BE69;
  cursor:pointer;
}

/* Top Bar CSS */
#topBar {

  margin:0 0px 50px 0;
  margin-right: 20px;
}
#topBar #logo {
  margin: 25px 0 0 0px;
  border-style:none;

}

#topBar #headPages P{
  font-size:14px;
  margin:30px 0 0 0;
}
#topBar #headPages A {

  margin-right:5px;
}
	
/* Navbar CSS */
#header #headerContent #navBar {
	color:#fff;
	font-size:14px;


}
#header #headerContent #navBar form {
	float:left;
}
#header #headerContent #searchField{

  width:223px;


  height:27px;
	padding-left:5px;
  background:transparent url('/images/header/search.png') -3px -3px no-repeat;
  color: #9E9E9E;
  border:none;
}
#header #headerContent #navBar #searchField:focus {
	outline-color:#9E9E9E;
}
#header #headerContent #navBar #submit {
	position:relative;
	top:6px;
	right:25px;
	border:none;
	background:transparent;
	width:25px;
	height:25px;
	border-style:none;
}
#header #headerContent #navBar #submit:active {
	top:4px;
	right:27px;
	box-shadow:1px 1px #eee;
	border-style:none;
}
#header #headerContent #navBar input.floatLeft {

	background:#fff url('/images/header/newPostButton.png') 0 0 no-repeat;
	border:none;
	top:5px;
	width:26px;
	height:28px;
	padding-left:0px;
	color:#4CB969;
	font-size:12px;
	margin-right:15px;
	border-style:none;
}
#header #headerContent #navBar input.floatLeft:hover {
	background: #fff url(../images/header/newpostfloat.png) 0 0 no-repeat;
	border:none;
	width:26px;
	height:28px;
	padding-left:0px;
	color:#4CB969;
	margin-right:15px;
	border-style:none;
}
#header #headerContent #navBar input.floatLeft:active {
	background: #fff url(../images/header/newpostfloat.png) 0 0 no-repeat;
	position:fixed
	top: 5px;
	border:none;
	width:26px;
	height:28px;
	padding-left:0px;
	color:#4CB969;
	margin-right:15px;
	border-style:none;

}
#header #headerContent #navBar img.divider {
	position:relative;
	top:-6px;
	margin-right:20px;
	margin-left:20px;
	border-style:none;
}
#header #headerContent #navBar section span a {
	position:relative;
	top:-5px;
	color:#fff;
	border-style:none;
}
#header #headerContent #navBar section span img.icon {

	margin-left:10px;

border-style:none;
	padding-top:5px;
}



#newsFeed {
  margin:9px 23px 0 17px;
  font-size:20px;
  padding:2px;
  border-style:none;
}

#storiesDiv {
  margin: 0 25px 0 0;
  font-size:13px;
  border-style:none;
}
#storiesDiv #upStories #topStories {

  margin-right:5px;
  border-style:none;
}
#storiesDiv #downStories #localStories {
  margin-right:5px;
  border-style:none;

}


#filtersDiv {
  font-size: 13px;
  border-style:none;
}
#filtersDiv #upFilters A {

  margin-right: 5px;
  border-style:none;
}
#filtersDiv #downFilters A {
  margin-right:5px;
  border-style:none;

}