<%= stylesheet_link_tag "chan" %>

<div id='picture'>
<div id='picturetwo'>
</div>
</div>
<div id='profpic'>
<%#= gravatar_for @user, :size => 200 %>
  <%= image_tag @user.avatar.url(:medium), :size => "200x200" %>
</div>
