<style type='text/css'>

#banner {
background-image:url('/images/banner.png');
position:relative;
top:-55px;
height:342px;
width:100%;
}

#container {
  margin:auto;
  width: 995px; 
  }

#vid {
position:relative;
top:35px;
background-repeat: no-repeat;
}

#globe {
position:relative;
top:-277px;
float:right;
background-repeat: no-repeat;
width:788px;
height:336px;
background-image:url('/images/map.png');
}

#bannertext {
position:relative;
top:70px;
float:right;
background-repeat: no-repeat;
color:#FFF;
}

#bannertext p {
font-size:17px;
}

#join {
position:relative;
top:30px;
background-repeat:no-repeat;
}

#mainimage img{
height:218px;
width:296px;
position:relative;
top:-400px;
margin-left:0px;
margin-right:31px;
}

#headoo {
font-size:30px;
font-weight:bold;
color:#000;
position:relative;
top:-675px;
left:0px;

}

#control {
position:relative;
top:200px;
margin-right:6px;
}

#heads {
 margin-right:auto;
position:relative;
top:-430px;
left:0px;

}

#heads2 {
 margin-right:auto;
position:relative;
top:-555px;
left:331px;
}

#heads3 {
 margin-right:480px;
 padding-right:30px;
position:relative;
top:-680px;
left:662px;
}


#heada1 {
font-size:30px;
font-weight:bold;
color:#000
position:relative;
top:100px;

}
#heada2 {
font-size:30px;
font-weight:bold;
color:#000
position:relative;
left:50px;
}
#heada3 {
font-size:30px;
font-weight:bold;
color:#000
position:relative;
left:50px;
}

#heada1 p{
font-size:17px;
}

#heada2 p{
font-size:17px;
}

#heada3 p{
font-size:17px;
}


#backgroundtwo {
	background-color:#f7f7f7;
	height:500px;
	position:relative;
	top:460px;
}

#request {
background-image:url('/images/request.png');
width:493px;
height:220px;
position:relative;
left:462px;
top:100px;

}


#requestx {
	font-size:30px;
	color:#FFF;
	font-weight:bold;
	position:relative;
	top:20px;
	left:45px;
}

#xt {
	font-size:12px;
	color:#FFF;
	position:relative;
	top:75px;
}

#submit {
	width:392px;
	height:39px;
	position:relative;
	top:10px;
}

#divider {
	background-image:url('/images/divider.png');
	width:393px;
	height:1px;
	position:relative;
	top:42px;
}

#moar {
	font-size:18px;
	  color:#FFF;
  cursor:pointer;
	font-weight:bold;
	position:relative;
	top:72px;
	left:85px;

}

#setup {
position:relative;
top:54px;
}

#setup h{
font-size:30px;
color:#000;
font-weight:bold;
position:relative;
top:0px;
float:left;
}

#setup p{
font-size:17px;
color:#000;
position:relative;
top:10px;
left:0px;
}

</style>

<%#= render '/layouts/header' %>

<div id='banner'>


<div id='container'>


<div id='vid'>
<iframe width="448" height="276" src="http://www.youtube.com/embed/IdHTnpgpLDc" frameborder="0" allowfullscreen></iframe>
</div>

<div id='globe'>
<div id='bannertext'>
<h1>Express your feels to the world!</h1>
<p>Change the way memes are spread worldwide</p>

<div id='join'>
 <%= link_to image_tag('/images/join.png'),'/join' %>
   </div>
</div>
</div>


</div>



<div id='container'>
<div id='control'>
<div id='mainimage'>
<%=image_tag('/images/mid1.png')%>
<%=image_tag('/images/mid2.png')%>
<%=image_tag('/images/mid3.png')%>
</div>

<div id='headoo'>
The Process
</div>

<div id='heads'>
<div id='heada1'>
Contribution
<p>Members post local events through <br> Super Secret Club, providing anecdotes <br> indicating the location of events as <br> well as their significance.</p>
</div>
</div>

<div id='heads2'>
<div id='heada2'>
Comprehension
<p>Each user will be able to access and <br> review other stories, rating them <br> on accuracy as well as posting their <br> reactions. </p>
</div>
</div>

<div id='heads3'>
<div id='heada3'>
Awareness
<p>Note that this website is mostly a guinea pig <br> for upcoming Orchive features.</p>
</div>
</div>
</div>


</div>
</div>

