
<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>sschan chat!</title>
    
    <link rel="stylesheet/less" type="text/css" href="lib/twitter-bootstrap/lib/bootstrap.less">
    <script src="lib/less/less-1.1.5.min.js"></script>

   </head>
  <body>

<center><iframe width="800" height="550" scrolling="no" src="http://widget.mibbit.com/?settings=93141c1809c6c58ff62101f63a413b63&server=rizon.mibbit.org&channel=%23sschan"></iframe></center>

      </body>
</html>
