<!DOCTYPE html>
<html>
<head>

<title><%= "Chat" %></title>

<script src="http://js.pusher.com/1.12/pusher.min.js"></script> 
<script src="pusher-realtime-chat-widget/src/js/PusherChatWidget.js"></script>

<link href="styles.css" rel="stylesheet" />
<link href="pusher-realtime-chat-widget/src/pusher-chat-widget.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" charset="utf-8">
  $(function() {
    // subscribes each user to private channel

 //  old key = 58241c114f90e278e82f
    var pusher = new Pusher('e613b465087b5f260e7d'); // public app key

// pusher chat widget
var chatWidget = new PusherChatWidget(pusher, {

      appendTo: '#pusher_chat_widget',
      chatEndPoint: '/chat'

    //chatEndPoint: 'pusher-realtime-chat-widget/src/ruby-sinatra/chat.rb'
  });
  });
  
</script>

<!-- end pusher -->

<%= stylesheet_link_tag 'blueprint/ie' %>
<%= stylesheet_link_tag 'custom', :media => 'screen' %>

  <meta name="description" content= "SSChan">
  <meta name="author" content="SSChan">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>

 
<div id='pusher_chat_widget'> </div>

</body>
</html>

