<style type='text/css'>
	#wrapper #main {
		padding-top:40px;
		background:none;
	}
	#wrapper #main #content {
		background:transparent url('/images/help_background.png') no-repeat;
		padding:15px 0 0 15px;
		width:790px;
	}
	#wrapper #main #content h1 {
		margin-bottom:40px;
	}
	#wrapper #main #content div {
		height:190px;
		margin-bottom:41px;
	}
	#wrapper #main #content div h2 a {
		padding-left:30px;
		color:#383838;
		text-decoration:none;
	}
	#wrapper #main #content div h2 a:hover {
		color:#00BE69;
	}
	#wrapper #main #content div table {
		font-size:14px;
		margin:40px 0 0 200px;
	}
	#wrapper #main #content div #future {
		margin-top:50px;
	}
	#wrapper #main #content div table td {
		width:295px;
		padding-bottom:8px;
	}
	#wrapper #main #content div table td a {
		color:#666666;
		text-decoration:none;
	}
	#wrapper #main #content div table td a:hover {
		color:#00BE69;
	}
</style>
<h1>Amazon Search Bar</h1>

<div>
<SCRIPT charset="utf-8" type="text/javascript" src="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_sw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fwidgetsamazon-20%2F8002%2Fa5039eea-6161-45c2-b210-23bba2dcedf1"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_sw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fwidgetsamazon-20%2F8002%2Fa5039eea-6161-45c2-b210-23bba2dcedf1&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
</div>