<style type='text/css'>
	#wrapper #main #content {
		padding:15px 0 0 15px;
		width:800px;
	}
	#wrapper #main #content div {
		padding-left:30px;
	}
	#wrapper #main #content div h2 {
		font-size:17px;
		margin-bottom:5px;
		margin-top:20px;
	}
</style>

<h1>SSChan FAQ</h1>

<div>
	<h2>Q: Why isn’t my post submitting? </h2>
	<p>A: Chances are that you've typed in characters that are invalid or failed to meet the character limit. Any errors will be crudely displayed above the posting form upon clicking submit.</p>
</div>

<div>
	<h2>Q: What do I do if I get a weird backend error?</h2>
	<p>A: Try logging out, clearing your internet cookies, plug-ins, and passwords and logging back in. If that does not work, try making a new account and be sure to send a description of your issue in the available feedback option. Please remember that we are just beginning and will need some time to work out all of the kinks.</p>
</div>
