<style type='text/css'>
	#wrapper #main #content {
		padding:15px 0 0 15px;
		width:800px;
	}
	#wrapper #main #content div {
		padding-left:30px;
	}
	#wrapper #main #content div h2 {
		font-size:17px;
		margin-bottom:5px;
		margin-top:20px;
	}
</style>

<h1>Orchive FAQ</h1>
<div>
	<h2>Q: Can users see my personal profile if I post my reports under and alias or under "anonymous"?</h2>
	<p>A: Yes, but with an exception. If you post under an alias or under "anonymous"  users will not be able to go to your profile from any of your posts. That being said, if they acquire the link to your specific profile, they do have the ability to see it. We have privacy options coming soon!</p>
</div>

<div>
	<h2>Q: What identity would be shown to others if I check the alias box in the posting interface?</h2>
	<p>A: Whatever name you put in the text box next to the alias box will be seen as your name. However, if you put nothing in the text box, and check the alias box, your name will be set to "Anonymous".</p>
</div>

<div>
	<h2>Q: If I have an account, can I post anonymously and still have the same privileges?</h2>
	<p>A: Yes. If you post anonymously with an account, you still have every privilege that you would have if you posted under your name.</p>
</div>

<div>
	<h2>Q: What do I do if I know for a fact that a certain report is factually inaccurate?</h2>
	<p>A: At this point in time, you may do nothing but comment on the inaccuracy of the post. However, in the near future you may either mark the post as "inaccurate" by clicking on the "inaccurate" button on the post's page or create a new, accurate post of your own. We plan to add a reporting feature to posts that you think are profane.</p>
</div>

<div>
	<h2>Q: How do I get to the help page?</h2>
	<p>A: Scroll down and go to the “Command Center” page. The options under the “Getting Started with Orchive” section will take you to our help page. The different options represent different sections of said page. On the other hand, you may also navigate to <%=link_to('www.orchive.com/help', '/help')%> to reach our help page.</p>
</div>

<div>
	<h2>Q: How do I view another person’s profile?</h2>
	<p>A: If you click on the name of another user in one of his/her posts/comments you can visit their profile. Note: this will only work if they do not use an alias. Additionally, knowing someone's profile URL will also allow you to navigate to their profile page.</p>
</div>

<div>
	<h2>Q: Why don’t the different feeds seem to be changing anything on my screen?</h2>
	<p>A: At this point, only the first two feed options from the left work. Most trending shows posts in order of popularity and is represented by the star icon. Most recent shows posts in order of how recent they were made and is represented by the clock icon. The other two feed options are for location and followers. </p>
</div>

<div>
	<h2>Q: Can I use the topic filters with the two available feeds?</h2>
	<p>A: Yes, the topic filters are designed to work with the feeds. The key difference between the feeds and filters are that the feeds SORT the posts in a specific order (trending value, recency, location, or follower) while the filters ___ the posts.</p>
</div>

<div>
	<h2>Q: What is newsworthiness?</h2>
	<p>A: Newsworthiness is Orchive’s method of evaluating a user’s posting strength. It factors in many things, but overall, you live with a good idea of the user. A user with a higher newsworthiness is probably more experienced and more reliable than someone with a low or negative newsworthiness. Newsworthiness is a feature that will be added relatively soon.</p>
</div>

<div>
	<h2>Q: How is the order of the comment’s determined?</h2>
	<p>A: Comments are, for now, ranked by the difference of likes and dislikes that users give it. The reason that that comments shuffle is to give each comment a fair chance at being seen, and to disincentivize commenting just to be the first one there. We plan to add a reply feature to comments allowing conversations and discussions in the comment section of a post.</p>
</div>

<div>
	<h2>Q: Why isn’t my post submitting? #RAGE</h2>
	<p>A: Chances are that you've typed in characters that are invalid or failed to meet the character limit. Any errors will be crudely displayed above the posting form upon clicking submit.</p>
</div>

<div>
	<h2>Q: What do I do if I get a weird backend error?</h2>
	<p>A: Try logging out, clearing your internet cookies, plug-ins, and passwords and logging back in. If that does not work, try making a new account and be sure to send a description of your issue in the available feedback option. Please remember that we are just beginning and will need some time to work out all of the kinks.</p>
</div>

<div>
	<h2>Q: How do I give you feedback on the site?</h2>
	<p>A: You can use the easily accessible “Feedback” option seen on the right of the screen. Leave a post and we will try to respond to it as fast as possible.</p>
</div>
