<style type='text/css'>
	#wrapper #main #content {
		padding:15px 0 0 15px;
		width:800px;
	}
	#wrapper #main #content div {
		padding-left:30px;
	}
	#wrapper #main #content div ul li {
		margin-left:50px;

	}
	#wrapper #main #content div ol li {
		margin-left:50px;
	}
</style>
		<h1 id='newPost'>Making a New Post </h1>
		<div>
			<ul>All the stories reported on Orchive rely on the community becoming the actual reporters. Once the user has a post to report, there is a brief process that they must go through.
			<br />
			<li>There are two posting buttons which will appear on the site. The pencil on the notepad button exists on the top bar and will be accessible anywhere on the site. The plus sign in a box button only exists when the profile side bar is open.
				</li>
			</ul>
		<ol>
			Once you arrive at the posting interface, there are several pieces of information that will be included in your report.
		<br />
			<li>Each report has a headline, with a character limit of 5-50 and the actual body of the report, with a character limit of 600. Reporters on Orchive are held to the same standards as actual reporters. All information should be as factual, objective, and truthful as the reporters can manage. This is outlined in our terms and agreements. Any report which is either pure fiction, uses profanity, or falls into another category in our Terms and Agreements, is subject to deletion.</li>
			
			<li>Each post is reported anonymously unless you wish to identify the post under your name. If you wish to be identified by your name check the box "Alias". Although this check box will continue to appear whenever you arrive at the posting interface, it will automatically remain checked unless you choose to uncheck it.</li>
		
			<li>The user must specify the location where their report is taking place. This is done by typing in the location of where the report is located. As you type in the location, the bar will act as a guide to help you find the location you desire as fast as possible. Even if you live in Hawaii, if you decide to report about an event which is occurring in New York City, you must specify that you are reporting about New York City.</li>
		
			<li>The user's location is added in the post in order to give readers a perspective on where the user is reporting from. While we do not condemn reporting a post about a location other than where you are, it is helpful for other users to get an idea of how close you were to where the event took place. This is an optional addition to each report and can be unchecked. This is outlined in Orchive's terms and agreements.</li>
		
			<li>The user then specifies what his source is for the information reported. The first option is set to "Me". Orchive hopes that its users try to report events they actually see for themselves, however, we respect that some users would desire to report stories which they themselves did not personally experience. If this is the case, the user should choose from one of the other source options available in the posting interface. These include: Me, Newspaper, etc.</li>
			
			<li>Lastly, each post can be tagged with up to four different topics. Orchive offers 10 different categories for users to pick as tags for their report. The reporter should responsibly decide which topics are most appropriate for the post reported. Reporters should avoid misusing the tagging system by tagging their posts with inappropriate topics. The consequences of reporters continuously misusing the tagging system are outlined in Orchive's terms and agreements.</li>
			
			<li>Once all this information is filled in, click "Create Post" and your report will be sent into the Orchive database and will instantly be featured on Orchive's Newsfeed.</li>
		</ol>
	</div>
	<h1 id='feeds'>Feeds (Story Filters)</h1>
		<div>
			<ul>The first set of tags comprises the four different feed options in Orchive. The stories are filtered by different factors, as detailed below:
			<li>Top Stories- The most popular posts at a given moment are shown here.</li>
			<li>Local Stories- News stories reported in your region are shown here.</li>
		<li>Recent Stories- The latest posts on the site are shown here.</li>
		<li>Follower Stories-News stories reported by the people who you decide to follow will be shown here.</li>
		You can only be on one post feed at a time, contrary to the system for topic filters, in which many can be selected. Switch between the different feeds to gain different perspectives of events happening around the world and near you.
		</ul>
	</div>
	<h1 id='filters'>Filters (Topic Filters)</h1>
		<div>
			<ul>Orchive introduces a set of filters available to the users which enables them to specify the type of stories they are particularly interested in.
			<li>Regardless of which Newsfeed option you decide to use, the second set of filters are always applicable in increasing specificity.</li>
		<li>Orchive utilizes the tags that reporters decide to use in their report to allow users to find the exact type of post they are interested in.</li><br />
		There are ten existing topics in the filter bar. Each icon represents a different topic (these will be discussed later). Once one icon is clicked, it will be highlighted. As soon as it is clicked again, it will be deselected. Only four icons can ever be clicked on at a time. Orchive will never allow you to click on a 5<sup>th</sup> icon without requiring you to deselect another icon.
		<li>(Undecided) When one icon is selected, the only reports that will be showed are those that specifically hold that icon as one of their tags (although they may have others).</li>
		
		<li>When a second icon is selected, the only reports that will then be showed are those that specifically have BOTH of those icons. Any report that has either just those two, or any others as well as those two, would fit under this category.</li>
		
		<li>By the time third and fourth icons are selected, the only reports that will be showed are reports that have specifically those exact three or four topics tagged.</li><br />
		
			This filtering system allows a user to find specific stories which might fit under a very specific combination of tags. <br />
	Orchive offers ten different filtering topics for the user to find exactly a specific type of post. These topics are: politics, business, nature, sports, science, crime, technology, social, entertainment, and other.
		<li>Science: This topic is represented by the chemistry flask icon. This tag can be attributed to any major findings or science publication. Any big news in the science community, or any events that relate to scientific thought, all fall under the realm of the "science" tag.</li>
		<li>Nature: This topic is represented by the leaf icon. Nature is an appropriate filter for weather or environment related reports. If one was to report an incoming storm or tornado in their local area, it would fit under the nature tag. Just as well, events relating to one's natural environment, such as a forest fire, would also fit under this category.</li>
		<li>Entertainment: This topic is represented by the theater masks icon.</li>
		<li>Sports: This topic is represented by the soccer ball icon. The sports tag is a general filter used for anything sports related. Other than the typically recognized "sports" (anything that is competitive and involves physical activity), Orchive accepts activities such as Chess, Poker, and highly competitive video games (such as Starcraft) as appropriate under the sports tag.</li>
		<li>Technology: This topic is represented by the computer monitor icon. Any reports which relate to the tech world, as well as the cyber world, may be attributed the technology tag.</li>
		<li>Business: This topic is represented by the icon that looks like a small graph with a line function. The business topic may be used to find stories such as decisions made by a small local businesses as well as actions taken by big corporate giants. If a certain business is going bankrupt, or putting a large deal of its goods on sale, this is also an appropriate tag. While we wish to avoid discussing financial systems on Orchive (discussed in our terms and agreements), the best tag for a financial or economic related post might very well be under the business tag.</li>
		<li>Social: This topic is represented by the two speech bubbles icon. This has to do with gatherings or other social news events.</li>
		<li>Crime: This topic is represented by the balance scale icon. The crime tag can be attributed to any stories reporting any crime occurrence, as well as crime-related cases in the judicial system.</li>
		<li>Politics: This topic is represented by the icon that looks like a small building with pillars. Although the icon might suggest otherwise, the filter should be used to find reports on any political event that may happen anywhere around the world. Many reporters may use this tag if they believe their report has any political relevance. If you do not know where exactly to start filtering, the politics filter is always an easy start.</li>
		<li>Other: This topic is represented by the icon with the word "etc" in a circle. Other can be used as a tag for a report which hardly fits under any either topic. The other tag will hardly ever be grouped to together with other tags.</li>
		</ul>
	</div>
		<h1 id='commenting'>Commenting</h1>
		<div>
			<ol>Orchive believes in people reporting objective facts and events occurring around the world. The one time Orchive allows for its users to engage in subjective opinions is in the commenting feature. Only Orchive members with accounts may use the commenting feature.<br />
		<li>Each report appearing in the Orchive Newsfeed can be examined more closely if clicked on.</li>
		<li>Once clicked, an individual page for that post will be shown.</li>
		<li>If you wish to add your own opinion, or insight on the situation being reported, you may click on "Add Comment".</li>
		<li>Unlike the reports, all comments, due to their allowed subjective nature, must be related to a certain user. That is, if John Davidson wanted to comment on a political victory in Italy by saying "I don't believe the Italian government will be able to fix itself", other users must be able to associate this subjective comment with John's identity.</li>
		<li>A comment will have a character limit of 100. While comments on reports are not required to be factual, if they do not comply with our Terms and Agreements in regards to profanity or inappropriate remarks, they are subject to deletion similar to actual reports (are we moderating comments?)</li>
		<li>Once finished, simply click "Add Comment" and your comment will be added to the post.</li>
		<li>Your comment, as well as others, may only be viewed by others who go to the specific page of the report itself.</li>
			</ol>
		</div>
		<h1 id='accuracyRating'>Accuracy Rating</h1>
		<div>
			<ul>
			<li>The accuracy rating system measures the credibility of a source and gives users the ability to gain a sense of how truthful statements are. This is the primary form of 'checks' on Orchive, and it places the responsibility of validation on the Orchive community. If you see a post that you can validate based on personal experience, secondhand account, or media coverage, simply click the "Accurate" button on the post.</li>
		<br />
			<li>By making a post, the reporter will automatically give his or her post a vote of accuracy. From thereon, local people who may have witnessed and others who may have heard about the event will vote on the accuracy of the news post.</li></ul></div>
			
		<h1 id='signUp'>Sign Up</h1>
		<div><ol>
			Signing up for the Orchive beta is a multistep process.
		<li>First, go back to <a href="http://www.orchive.com">www.staging.orchive.com</a></li>
		<li>Click on the green square on the right labeled "Join".</li>
		<li>That page will request for you to type in the code sent to you by email. If you want to learn how to receive one of the Beta codes, please click <%=link_to('here', '/request')%>.</li>
		<li>After you input your code, click "enter" and it will take you to the following step.</li>
		<li>At this point you should be on a page called "Create your account". This page will require you to input an email address, your name, and a password.</li>
		<li>Email Address: Orchive will accept any email address that you want to use for your Orchive account creation. We will use this email to contact you if you forgot your password.</li>
		<li>Name: Orchive will not be giving your name out to any individuals, groups, or other businesses (all outlined in our <%=link_to('Privacy page', '/privacy')%> nor do we require reporting to be done under your own name, although it is optional. Orchive seeks users to input the name they would want to be recognized by in their reports, preferably both their first and last names. Middle names are not required.</li>
		<li>Password: Orchive does not have any requirement on the type of characters used in a password but passwords must be between 7 and 25 characters.</li></ol></div>
		
		<h1 id='contact'>Contact Us</h1>
		<div><ul>Orchive deeply cares about its community base and will always allow any one of its users to contact us.
			<li>To arrive at our contact page, first find the "Contact Us", located at the bottom bar right below FAQ. "Contact Us" can then be clicked to bring the user to the page.</li>
		<li>Our contact page gives our address as well as our contact email.</li>
		<li>On the bottom left we have links to our Twitter, Facebook, Linkedin, and Tumblr pages.</li>
		<li>On the right we have a text box in which you may leave us a message regarding a critique of the site, as well as any opinions, views, and/or beliefs you wish to express to us.</li>
		<li>As soon as you're done writing your message, simply click "Submit" and your message will immediately be sent to us.</li>
		</ul></div>
		
		<h1 id='intellectualProperty'>Intellectual Property</h1>
		<div>
			<p>Please follow the guidelines laid out in our <%=link_to('Terms of Use', '/terms')%>. Orchive respects the intellectual property rights of all outside entities. It is a violation of our terms to post anything that is copyrighted or owned by another individual. If you are unsure if you have the legal right to post a post, please consult a lawyer before posting.</p><br />
			<p>In the event Intellectual Property is violated and Orchive is approached with a complaint, we will immediately take action to remove the post and suspend the poster&rsquo;s account if necessary.</p><br />
			<p>On another note, you retain the Intellectual Property rights to any original content you post but give Orchive the license to make it public.
			</p></div>
		
		<h1>ACCESSIBILITY</h1>
		<div>
		<p>Unfortunately, at this time Orchive has not established compatibility with assistive technologies. In the future, we hope to ensure compatibility with older web browsers and screen readers for the blind to ensure that anyone, anywhere can hear and be heard on Orchive.</p>
		</div>