<style type='text/css'>
body {
         font-size:12pt;
         background:#FFFFEE;
         color:#800000;
}

a {
        background:inherit;
        color:#0000EE;
        text-decoration:underline;
        font-family:serif;

}

#beta #main #content {
	padding-bottom:0;
	width:995px
}
#beta header {
	background:url(../images/betaback.png);
	height:97px;
	border-top:3px solid #596A93;
}

.logo {
	background-image:URL('/images/logo.png');
	width:142px;
	height:40px;
}

h1 {

    font-size:32px;
    /*color:#5A82FF;*/
    font-weight:400;
}

h2 {
    font-size:20px;
    /*color:#5A82FF;*/
    font-weight:400;

}

h3 {
    font-size:16px;
    /*color:#5A82FF;*/
    font-weight:600;
    margin-right:20px;
}

#beta header header{
	border:none;
	padding:20px 0 20px 0;

	width:995px;

	margin-left:auto;
	margin-right:auto;
}
#beta header span {
	padding-top:15px;
}
#beta header span a {
	font-size:14px;
	color:#555;
	text-decoration:none;
	margin-right:20px;
}
#beta header span a:hover {
	color:#596A93;
}
</style>

<h1>Jonathan Tang</h1>
<p>Email: Jdtang13@gmail.com
</p>
<hr/>

<div>
	<h2>Education</h2>
        <h3>The Lawrenceville School, Lawrenceville, NJ</h3>
        
        <p>Currently a high school junior taking Honors Physics C, Honors Calculus-based Statistics, Honors Chemistry, and having already completely Calculus BC last year.
Sophomore GPA: 4.0, Junior GPA: 4.1
SAT I: 2330 (taken June 2011)
</p><br/>
</div>

<div>
	<h2>Experience</h2>
        <h3>Co-CTO and Developer of Orchive, a student-run startup company (www.orchive.com)</h3>
<p>Implemented backend features in Ruby on Rails 3, including a post ranking algorithm, user post submission, user profiles, commenting, and voting (including voting on comments).
Among Intel Innovators top 5 finalists.
</p><br/>
<h3>President and Founder of the Lawrenceville Programming Society</h3>
<p>
Hosted weekly meetings to teach programming, algorithms, and web development to members.
Taught Python, Java, and C#.
Led projects and prepared members for competition programming and the AP computer science exam.
</p><br/>
<h3>Android Development</h3>
<p>
Wrote Java applications for basic card games, tic-tac-toe, and ball bouncing.
Developed a fairly sophisticated two dimensional platform game.
</p><br/>
<h3>2011 AI Challenge</h3>
<p>
Created a solution for an ant robot using pathfinding and collaborative diffusion (i.e., weighted goal-finding).
</p><br/>

<h3>USA Computing Olympiad – Active Participant</h3><br/>
<h3>Mathematics</h3>
<p>
Participated in Princeton University Math Competition (PUMaC)
Participated in Harvard-MIT Math Tournament (HMMT)
Active participant in local Delaware Valley competitions
</p><br/>
</div>

<div>
	<h2>Skills in Computer Programming</h2>
	<p>Java, Android SDK</p>
        <p>Python, Pygame engine</p>
        <p>Ruby, Ruby on Rails 3</p>
        <p>C#, Microsoft XNA for C#</p>
        <p>Currently learning C++</p><br/>
</div>

<div>
	<h2>Interests</h2>
	<p>Developing applications for phones and PCs</p>
        <p>Maintaining a built-from-scratch website for my friends</p>
        <p>Video editing in Sony Vegas</p>
        <p>Taught English to Chinese students in Beijing with a self-developed curriculum</p>
        <p>Animation in Adobe Flash</p>
        <p>Assembling computers from parts</p><br/>

</div>

<div>
  <h2>Portfolio</h2>

  <p>Coming soon.</p>

</div>