<style type='text/css'>
body {
         font-size:12pt;
         background:#FFFFEE;
         color:#800000;
}

a {
        background:inherit;
        color:#0000EE;
        text-decoration:underline;
        font-family:serif;

}

#beta #main #content {
	padding-bottom:0;
	width:995px
}
#beta header {
	background:url(../images/betaback.png);
	height:97px;
	border-top:3px solid #596A93;
}

.logo {
	background-image:URL('/images/logo.png');
	width:142px;
	height:40px;
}

h1 {

    font-size:32px;
    /*color:#5A82FF;*/
    font-weight:400;
    font-family:serif;
}

h2 {
    font-size:20px;
    /*color:#5A82FF;*/
    font-weight:400;
    font-family:serif;

}

h3 {
    font-size:16px;
    /*color:#5A82FF;*/
    font-weight:400;
    margin-right:20px;
    font-family:serif;
}

#beta header header{
	border:none;
	padding:20px 0 20px 0;

	width:995px;

	margin-left:auto;
	margin-right:auto;
}
#beta header span {
	padding-top:15px;
}
#beta header span a {
	font-size:14px;
	color:#555;
	text-decoration:none;
	margin-right:20px;
}
#beta header span a:hover {
	color:#596A93;
}

div.img
  {
  margin:2px;
  border:1px solid #596A93;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  }
div.img img
  {
  display:inline;
  margin:3px;
  border:1px solid #ffffff;
  }
div.img a:hover img
  {
  border:1px solid #596A93;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  width:260px;
  height:40px;
  margin:2px;
  }

</style>

<div><b><center>New portfolio can be found at: <a href = "http://www.JonathanTang.net">JonathanTang.net</a></center></b></div> <br/>

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 12">
<meta name=Originator content="Microsoft Word 12">
<link rel=File-List
href="2011-%20resume%20Jonathan%20Tang%20programming%20-%202_files/filelist.xml">
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>Amy</o:Author>
  <o:LastAuthor>Amy</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>29</o:TotalTime>
  <o:Created>2012-02-16T04:56:00Z</o:Created>
  <o:LastSaved>2012-02-16T04:56:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>318</o:Words>
  <o:Characters>1816</o:Characters>
  <o:Lines>15</o:Lines>
  <o:Paragraphs>4</o:Paragraphs>
  <o:CharactersWithSpaces>2130</o:CharactersWithSpaces>
  <o:Version>12.00</o:Version>
 </o:DocumentProperties>
</xml><![endif]-->
<link rel=dataStoreItem
href="2011-%20resume%20Jonathan%20Tang%20programming%20-%202_files/item0001.xml"
target="2011-%20resume%20Jonathan%20Tang%20programming%20-%202_files/props0002.xml">
<link rel=themeData
href="2011-%20resume%20Jonathan%20Tang%20programming%20-%202_files/themedata.thmx">
<link rel=colorSchemeMapping
href="2011-%20resume%20Jonathan%20Tang%20programming%20-%202_files/colorschememapping.xml">
<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:TrackMoves>false</w:TrackMoves>
  <w:TrackFormatting/>
  <w:PunctuationKerning/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotPromoteQF/>
  <w:LidThemeOther>EN-US</w:LidThemeOther>
  <w:LidThemeAsian>ZH-CN</w:LidThemeAsian>
  <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
   <w:SplitPgBreakAndParaMark/>
   <w:DontVertAlignCellWithSp/>
   <w:DontBreakConstrainedForcedTables/>
   <w:DontVertAlignInTxbx/>
   <w:Word11KerningPairs/>
   <w:CachedColBalance/>
   <w:UseFELayout/>
  </w:Compatibility>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
  <m:mathPr>
   <m:mathFont m:val="Cambria Math"/>
   <m:brkBin m:val="before"/>
   <m:brkBinSub m:val="&#45;-"/>
   <m:smallFrac m:val="off"/>
   <m:dispDef/>
   <m:lMargin m:val="0"/>
   <m:rMargin m:val="0"/>
   <m:defJc m:val="centerGroup"/>
   <m:wrapIndent m:val="1440"/>
   <m:intLim m:val="subSup"/>
   <m:naryLim m:val="undOvr"/>
  </m:mathPr></w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="true"
  DefSemiHidden="true" DefQFormat="false" DefPriority="99"
  LatentStyleCount="267">
  <w:LsdException Locked="false" Priority="0" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Normal"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="heading 1"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 2"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 3"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 4"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 5"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 6"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 7"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 8"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 9"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 1"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 2"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 3"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 4"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 5"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 6"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 7"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 8"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 9"/>
  <w:LsdException Locked="false" Priority="35" QFormat="true" Name="caption"/>
  <w:LsdException Locked="false" Priority="10" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Title"/>
  <w:LsdException Locked="false" Priority="1" Name="Default Paragraph Font"/>
  <w:LsdException Locked="false" Priority="11" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtitle"/>
  <w:LsdException Locked="false" Priority="22" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Strong"/>
  <w:LsdException Locked="false" Priority="20" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Emphasis"/>
  <w:LsdException Locked="false" Priority="59" SemiHidden="false"
   UnhideWhenUsed="false" Name="Table Grid"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Placeholder Text"/>
  <w:LsdException Locked="false" Priority="1" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="No Spacing"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 1"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 1"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Revision"/>
  <w:LsdException Locked="false" Priority="34" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="List Paragraph"/>
  <w:LsdException Locked="false" Priority="29" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Quote"/>
  <w:LsdException Locked="false" Priority="30" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Quote"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 1"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 1"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 2"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 2"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 2"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 3"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 3"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 3"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 4"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 4"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 4"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 5"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 5"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 5"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 6"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 6"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 6"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="19" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Emphasis"/>
  <w:LsdException Locked="false" Priority="21" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Emphasis"/>
  <w:LsdException Locked="false" Priority="31" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Reference"/>
  <w:LsdException Locked="false" Priority="32" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Reference"/>
  <w:LsdException Locked="false" Priority="33" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Book Title"/>
  <w:LsdException Locked="false" Priority="37" Name="Bibliography"/>
  <w:LsdException Locked="false" Priority="39" QFormat="true" Name="TOC Heading"/>
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:SimSun;
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-alt:\5B8B\4F53;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 680460288 22 0 262145 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:-1610611985 1107304683 0 0 415 0;}
@font-face
	{font-family:"\@SimSun";
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 680460288 22 0 262145 0;}
@font-face
	{font-family:Georgia;
	panose-1:2 4 5 2 5 4 5 2 3 3;
	mso-font-charset:0;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:647 0 0 0 159 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	line-height:115%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:SimSun;
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
p.MsoDate, li.MsoDate, div.MsoDate
	{mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-link:"Date Char";
	mso-style-next:Normal;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	line-height:115%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:SimSun;
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
a:link, span.MsoHyperlink
	{mso-style-priority:99;
	color:blue;
	mso-themecolor:hyperlink;
	text-decoration:underline;
	text-underline:single;}
a:visited, span.MsoHyperlinkFollowed
	{mso-style-noshow:yes;
	mso-style-priority:99;
	color:purple;
	mso-themecolor:followedhyperlink;
	text-decoration:underline;
	text-underline:single;}
span.DateChar
	{mso-style-name:"Date Char";
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:Date;}
span.SpellE
	{mso-style-name:"";
	mso-spl-e:yes;}
span.GramE
	{mso-style-name:"";
	mso-gram-e:yes;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:SimSun;
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
.MsoPapDefault
	{mso-style-type:export-only;
	margin-bottom:10.0pt;
	line-height:115%;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;
	mso-header-margin:.5in;
	mso-footer-margin:.5in;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-qformat:yes;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin-top:0in;
	mso-para-margin-right:0in;
	mso-para-margin-bottom:10.0pt;
	mso-para-margin-left:0in;
	line-height:115%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=EN-US link=blue vlink=purple style='tab-interval:.5in'>

<div class=WordSection1>

<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
text-align:center'><b style='mso-bidi-font-weight:normal'><span
style='font-family:"Georgia","serif"'>Jonathan Tang<o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
text-align:center'><span style='font-size:10.0pt;line-height:115%;font-family:
"Georgia","serif"'>85 Petty Rd, Cranbury, NJ 08512<o:p></o:p></span></p>

<div style='mso-element:para-border-div;border:none;border-bottom:solid windowtext 1.0pt;
mso-border-bottom-alt:solid windowtext .75pt;padding:0in 0in 1.0pt 0in'>

<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
text-align:center;border:none;mso-border-bottom-alt:solid windowtext .75pt;
padding:0in;mso-padding-alt:0in 0in 1.0pt 0in'><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>Phone: 609-751-6887, Email: <a
href="mailto:Jdtang13@gmail.com">Jdtang13@gmail.com</a><o:p></o:p></span></p>

</div>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><b
style='mso-bidi-font-weight:normal'><span style='font-family:"Georgia","serif"'>Education<o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'>The
Lawrenceville School<b style='mso-bidi-font-weight:normal'>, </b>Lawrenceville,
NJ<b style='mso-bidi-font-weight:normal'><o:p></o:p></b></span></i></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>Currently a high school junior
taking Honors Physics C, Honors Calculus-based Statistics, Honors Chemistry, and
having already completely Calculus BC last year.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>Sophomore GPA: 4.0, Junior GPA:
4.1 (<a href="images/portfolio/transcript.png">link to transcript</a>)<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>SAT I: 2350 (overall)<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>SAT II Chemistry: 800<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>SAT II Mathematics 2: 790<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>Received a 5 on the following APs: <i>Computer Science A</i>, <i>English Language and Composition</i>, <i>Statistics</i>, <i>Physics C: Mechanics</i>, <i>Chemistry</i>, and <i>Calculus BC</i> <o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><b
style='mso-bidi-font-weight:normal'><span style='font-family:"Georgia","serif"'>Experience<o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'>Co-CTO
and Developer of <span class=SpellE>Orchive</span>, a student-run startup
company (<a href="www.orchive.com">Orchive.com</a>)<o:p></o:p></span></i></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>Implemented backend features in
Ruby on Rails 3, including a post ranking algorithm, user post submission, user
profiles, commenting, and voting (including voting on comments).<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>Among Intel Innovators top 5
finalists.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'>President
and Founder of the Lawrenceville Programming Society<o:p></o:p></span></i></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>Took first place in the <a href="http://elvis.rowan.edu/rupc/?winners">Rowan University Programming Competition 2012</a><o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>Hosted weekly meetings to teach
programming, algorithms, and web development to members.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span class=GramE><span
style='font-size:10.0pt;line-height:115%;font-family:"Georgia","serif"'>Taught
Python, Java, and C#.</span></span><span style='font-size:10.0pt;line-height:
115%;font-family:"Georgia","serif"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>Led projects and prepared members
for competition programming and the AP computer science exam.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'><span class=SpellE>Worked at Radium Funds Advisors</span> as a paid intern<o:p></o:p></span></i></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>Created web scraping tools in Perl, managed data using JavaScript, and dabbled in more Ruby on Rails web development.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'>Other Learning Experiences<o:p></o:p></span></i></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>Currently taking COS 226: Algorithms and Data Structures at Princeton University.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>Enrolled online and completed Stanford's 2012 Machine Learning course, with Professor Andrew Ng.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'>Android
Development<o:p></o:p></span></i></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span class=GramE><span
style='font-size:10.0pt;line-height:115%;font-family:"Georgia","serif"'>Wrote
Java applications for basic card games, tic-tac-toe, and ball bouncing.</span></span><span
style='font-size:10.0pt;line-height:115%;font-family:"Georgia","serif"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span class=GramE><span
style='font-size:10.0pt;line-height:115%;font-family:"Georgia","serif"'>Developed
a fairly robust two dimensional platform game.</span></span><span
style='font-size:10.0pt;line-height:115%;font-family:"Georgia","serif"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'>2011
AI Challenge<o:p></o:p></span></i></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span class=GramE><span
style='font-size:10.0pt;line-height:115%;font-family:"Georgia","serif"'>Created
a solution for an ant robot using <span class=SpellE>pathfinding</span> and
collaborative diffusion (i.e., weighted goal-finding).</span></span><span
style='font-size:10.0pt;line-height:115%;font-family:"Georgia","serif"'><o:p></o:p></span></p>


<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'>Qualified for Google Code Jam 2012</span></i><span style='font-family:
"Georgia","serif"'><o:p></o:p></span></p>


<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'>USA
Computing Olympiad – Active Competitor</span></i><span style='font-family:
"Georgia","serif"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'>Mathematics<o:p></o:p></span></i></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.5in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>Participated in Princeton
University Math Competition (<span class=SpellE>PUMaC</span>), Harvard-MIT
Math Tournament (HMMT), Delaware Valley competitions<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><b
style='mso-bidi-font-weight:normal'><span style='font-family:"Georgia","serif"'>Skills
in Computer Programming<o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'>Java,
</span></i><span style='font-size:10.0pt;line-height:115%;font-family:"Georgia","serif"'>Android
SDK</span><i style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'><o:p></o:p></span></i></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'>Python,
</span></i><span class=SpellE><span style='font-size:10.0pt;line-height:115%;
font-family:"Georgia","serif"'>Pygame</span></span><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'> engine</span><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'><o:p></o:p></span></i></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'>Perl,
</span></i><span class=SpellE><span style='font-size:10.0pt;line-height:115%;
font-family:"Georgia","serif"'>with an emphasis on web scraping</span></span><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'></span><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'><o:p></o:p></span></i></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'>Ruby</span></i><span
style='font-family:"Georgia","serif"'>, </span><span style='font-size:10.0pt;
line-height:115%;font-family:"Georgia","serif"'>Ruby on Rails 3</span><span
style='font-family:"Georgia","serif"'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'>C#,
</span></i><span style='font-size:10.0pt;line-height:115%;font-family:"Georgia","serif"'>Microsoft
XNA for C#</span><i style='mso-bidi-font-style:normal'><span style='font-family:
"Georgia","serif"'><o:p></o:p></span></i></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><i
style='mso-bidi-font-style:normal'><span style='font-family:"Georgia","serif"'>Currently
learning C++ and Objective-C<o:p></o:p></span></i></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><b
style='mso-bidi-font-weight:normal'><span style='font-family:"Georgia","serif"'>Interests<o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-size:10.0pt;line-height:115%;font-family:"Georgia","serif"'>Developing
applications for phones and PCs<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-size:10.0pt;line-height:115%;font-family:"Georgia","serif"'>Maintaining
a built-from-scratch website for my friends<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-size:10.0pt;line-height:115%;font-family:"Georgia","serif"'>Video
editing in Sony Vegas<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-size:10.0pt;line-height:115%;font-family:"Georgia","serif"'>Taught
English to Chinese students in Beijing with a self-developed curriculum<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-size:10.0pt;line-height:115%;font-family:"Georgia","serif"'>Animation
in Adobe Flash<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-size:10.0pt;line-height:115%;font-family:"Georgia","serif"'>Assembling
computers from parts<o:p></o:p></span></p>

</br>
<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><b
style='mso-bidi-font-weight:normal'><span style='font-family:"Georgia","serif"'>Portfolio (code, videos, and essays)<o:p></o:p></span></b></p>

  <div class="img">
  <a target="_blank" href="http://www.youtube.com/watch?v=yDbdMk7fymQ">
  <img src="images/portfolio/ai ants challenge.png" width="240" height="200" />
  </a>
  <div class="desc">Working on the 2011 AI Challenge (Click for video)</div>
</div>
<div class="img">
  <a target="_blank" href="images/portfolio/android bouncy balls.png">
  <img src="images/portfolio/android bouncy balls.png" width="240" height="200" />
  </a>
  <div class="desc">Making bouncing orbs in </br>Android Java SDK</div>
</div>
<div class="img">
  <a target="_blank" href="images/portfolio/android tictactoe.png">
  <img src="images/portfolio/android tictactoe.png" width="240" height="200" />
  </a>
  <div class="desc">Tic Tac Toe in Android</div>
</div>
<div class="img">
  <a target="_blank" href="images/portfolio/gigarpg.png">
  <img src="images/portfolio/gigarpg.png" width="240" height="200" />
  </a>
  <div class="desc">GigaRPG -- Android side-scroll role-playing game <a href="images/portfolio/gigarpg.rar">(download)</a></div>
</div>

<div class="img">
  <a target="_blank" href="images/portfolio/mike and ike game.png">
  <img src="images/portfolio/mike and ike game.png" width="240" height="200" />
  </a>
  <div class="desc">Mike and Ike Game -- a simple "simulation" of chemical reactions.</div>
</div>

<div class="img">
  <a target="_blank" href="images/portfolio/minecraft cardmatch.png">
  <img src="images/portfolio/minecraft cardmatch.png" width="240" height="200" />
  </a>
  <div class="desc">Minecraft card-matching game</div>
</div>

<div class="img">
  <a target="_blank" href="http://orchive.com">
  <img src="images/portfolio/orchive1.png" width="240" height="200" />
  </a>
  <div class="desc">Orchive, a user-submitted news website</div>
</div>

<div class="img">
  <a target="_blank" href="http://www.youtube.com/watch?v=NfK93cgg-h8">
  <img src="images/portfolio/python bouncy balls.png" width="240" height="200" />
  </a>
  <div class="desc">Bouncing spheres in Python</br> (Click for video)</div>
</div>

<div class="img">
  <a target="_blank" href="http://www.youtube.com/watch?v=r44DWlHYgl0">
  <img src="images/portfolio/python brownian motion.png" width="240" height="200" />
  </a>
  <div class="desc">Brownian Motion in Python</br> (Click for video)</div>
</div>

<div class="img">
  <a target="_blank" href="http://www.youtube.com/watch?v=_2G7gpj17dU">
  <img src="images/portfolio/python paintstreaks.png" width="240" height="200" />
  </a>
  <div class="desc">Paintlines in Python</br> (Click for video)</div>
</div>

<div class="img">
  <a target="_blank" href="http://www.youtube.com/watch?v=ih9-1qKnwZY">
  <img src="images/portfolio/python vibrating particles.png" width="240" height="200" />
  </a>
  <div class="desc">Vibrating particles in Python</br> (Click for video)</div>
</div>

<div class="img">
  <a target="_blank" href="https://docs.google.com/document/d/1Ubf8eT1nHfBB8tS-GTGQxxLQfjEPZcFv-9jatIJg6Yg/edit">
  <img src="images/portfolio/lapistextbook.png" width="240" height="200" />
  </a>
  <div class="desc">For LAPIS -- a textbook written by me </div>
</div>

<div class="img">
  <a target="_blank" href="images/portfolio/sschan1.png">
  <img src="images/portfolio/sschan1.png" width="240" height="200" />
  </a>
  <div class="desc">SSChan -- a web forum for my friends [1]</div>
</div>

<div class="img">
  <a target="_blank" href="images/portfolio/sschan2.png">
  <img src="images/portfolio/sschan2.png" width="240" height="200" />
  </a>
  <div class="desc">SSChan -- logging in [2]</div>
</div>

<div class="img">
  <a target="_blank" href="images/portfolio/sschan3.png">
  <img src="images/portfolio/sschan3.png" width="240" height="200" />
  </a>
  <div class="desc">SSChan -- demo of posting interface, with image uploading and tagging [3]</div>
</div>

<div class="img">
  <a target="_blank" href="images/portfolio/sschan4.png">
  <img src="images/portfolio/sschan4.png" width="240" height="200" />
  </a>
  <div class="desc">SSChan -- viewing posts [4]</div>
</div>

<div class="img">
  <a target="_blank" href="images/portfolio/sschan5.png">
  <img src="images/portfolio/sschan5.png" width="240" height="200" />
  </a>
  <div class="desc">SSChan -- sending a private message [5]</div>
</div>

<div class="img">
  <a target="_blank" href="http://www.youtube.com/watch?v=8gWuMoOpUyo">
  <img src="images/portfolio/yib.png" width="240" height="200" />
  </a>
  <div class="desc">Yinghua in Beijing promotional </br>video -- directed, filmed, and edited</div>
</div>

<div class="img">
  <a target="_blank" href="http://www.youtube.com/watch?v=lzUgUiob4IE">
  <img src="images/portfolio/lapis the programmer.png" width="240" height="200" />
  </a>
  <div class="desc">Lawrenceville Programming Society video -- directed and edited</div>
</div>

<div class="img">
  <a target="_blank" href="images/portfolio/physics history.doc">
  <img src="images/portfolio/physics history.png" width="240" height="200" />
  </a>
  <div class="desc">The Birth of Modern Physics -- Sophomore year research paper</div>
</div>

</div>

</body>

</html>

