<style type='text/css'>
	#wrapper #main #content {
		padding:15px 0 0 15px;
		width:800px;
	}
	#wrapper #main #content div {
		padding-left:30px;
	}
	#wrapper #main #content div p {
		margin-bottom:15px;
	}
</style>
<h1>Privacy Policy</h1>
		<h2>Information From You</h2>
		<div>
			<p>
				The amount of information we collect from you depends on whether you are a member or not.
			</p>
			<p>
				If you are anonymous, the only information we collect from you will be your IP Address, used to determine your location. In addition, there are log files we collect from your browser. There is no other personally identifiable information taken. As the user, you have the option to decide whether Orchive uses this information to find your location. As such, you take the responsibility for giving this information.
			</p>
			<p>
				If you are a member, personally identifiable information is taken at registration, including date of birth, e-mail address, gender, phone number, and address. Not all of this information is viewable to others (all users have access to profiles of members). You can change this information at any time. Any posts you make can be associated to you and your profile throughout Orchive.
			</p>
			<p>
				Server log files taken from your browser will be described in further detail later.
			</p>
		</div>
		<h2>What we do with the information</h2>
		<div>
			<p>
				We use the information collected from you for identification, advertising, services improvement, service announcements, post organization, research, user contact, and anonymous reporting. The IP address is used for determining the location of a user who makes a post, and various analysis based on that geographical/service provider-related information.
			</p>
		</div>