<style type='text/css'>
	#wrapper #main #content {
		padding:15px 0 0 15px;
		width:800px;
	}
	#wrapper #main #content div {
		padding-left:30px;
	}
	#wrapper #main #content div h2 {
		font-size:17px;
		margin-bottom:5px;
		margin-top:20px;
	}
</style>

<h1>Rules</h1>

<div>	<p>Do not upload, post, discuss, request, or link to, anything that violates local or United States law.</p>
</div>

<div>
	<p>No shitposting or blatant spamming.</p>
</div>

<div>	<p>File uploads are restricted to less than 7 megabytes.</p>
</div>
