<style type='text/css'>
	#wrapper #main #content {
		padding:15px 0 0 15px;
		width:800px;
	}
	#wrapper #main #content div {
		padding-left:30px;
	}
	#wrapper #main #content div p {
		margin-bottom:15px;
	}
</style>
<h1>Terms of Use</h1>
<h2>Basic Terms:</h2>
<div>
	<p>
		You, the User, are responsible for any content you post to Orchive, all use of Orchive, and any consequences of that use or content. All content you post can be seen by other users of Orchive and by third parties. By submitting content to Orchive you authorize Orchive a worldwide, non-exclusive, royalty-free right to use and publish your content regardless of distribution method.
	</p>
	<p>
		You may only use Orchive if you are able to enter into a contract with Orchive. If under US or other law you are not allowed to use the services of Orchive, you may not use Orchive. Your use of Orchive must comply with all applicable levels of regulations and law.
	</p>
	<p>
		You must be aware that Orchive can always change its services and content without prior notice to you. Orchive retains the exclusive rights to restrict the use of its users at any time without prior notice.
	</p>
		<p>
			The content on Orchive may also be used for targeted advertisements on the site. By using Orchive, you agree to allowing the placement of such advertisement that uses user-submitted content.
		</p>
		<p>
			Orchive is not liable for any damage to your computer, loss of data, or any other damage due to your use of Orchive. Orchive makes no warranty at any time for the continuation or content of its services.
		</p>
	</div>	
		<h2>Privacy:</h2>
	<div>	
		<p>
			All information given to Orchive by the user is subject to Orchive's <%=link_to('Privacy Policy', '/privacy')%>. There will be certain communications, done with the communications information provided by you, that you may not be able to opt out of.
		</p>
	</div>
		
		<h2>Passwords</h2>
		<div>
			<p>
				If you have an account, you are entirely responsible for the safekeeping of the password to your account. Orchive will not be liable for any damages resulting from a failure of the above. Orchive will never disseminate your password to third parties or other users. Users are encouraged to make passwords memorable and difficult to guess.
			</p>
		</div>
		
		<h2>Content on Orchive</h2>
		<div>
			<p>
				Although the aim of Orchive is to be able to disseminate truthful facts and news, Orchive takes no responsibility, and will not be liable, for the accuracy of its user-submitted content.
			</p>
		</div>
		
		<h2>Posts:</h2>
		<div>
			<p>
				Orchive will not be liable for any damage resulting from the content on or distributed as a result of Orchive, whether because of its inaccuracy, its incompleteness, or other reasons. Orchive reserves the right to delete content that it deems sufficiently profane, fictional, or inappropriate. Orchive reserves the right to suspend users that continuously disobey the above.
			</p>
		</div>
		
		<h2>Tags:</h2>
		<div>
			<p>
				Orchive also reserves the right to also delete posts that misuse the tagging system, tagging posts with inappropriate tags. Orchive also reserves the right to suspend users that continuously misuse the tagging system.
			</p>
		</div>
		
		<h2>Comments:</h2>
		<div>
			<p>
				Comments made on news reports must not be inappropriate and cannot contain undue profanity. Orchive reserves the right to delete comments it deems inappropriate and the right to suspend users who continuously misuse the commenting feature.
			</p>
		</div>
		
		<h2>Orchive Rights:</h2>
		<div>
			<p>
				Orchive reserves exlusive rights to the name, logo, domain names, trademarks, or other distinct features. Orchive is protected by ___ (copyright, etc..)
			</p>
		</div>
		
		<h2>Feedback</h2>	
		<div>
			<p>
				Orchive greatly values user feedback, and will try to use it. However, feedback is voluntary and Orchive is free to use the feedback in whichever way Orchive sees fit.
			</p>
		</div>
		
		<h2>Restrictions on Use</h2>
		<div>
			<ol>
				While accessing Orchive, you may not:
				<li>
					Access, without an account, parts of Orchive that require an authenticated account to access and as such are not public
				</li>
				<li>
					Breach or circumvent any authentication or security measures of Orchive
				</li>
				<li>
					Interfere with the access or usage of any other user or network in any manner
				</li>
				<li>
					Impersonate other individuals or businesses to deceive others; Orchive reserves the right to claim accounts using business names, logos, or trademarks
				</li>
				<li>
					Publish private or confidential information of other individuals without express consent of those individuals
				</li>
			</ol>
		</div>
		
		<h2>Spam and Abuse</h2>
		<div>
			<ol>
				Technical abuse will not be tolerated on Orchive. You may not:
				<li>
					Create multiple accounts for disruptive purposes and overlapping uses
				</li>
				<li>
					"Reserve" account names: accounts held for longer than 6 months will be deleted
				</li>
				<li>
					Sell any accounts
				</li>
				<li>
					Publish any links connected to malware or phishing, or post anything that compromises the security or privacy of another user
				</li>
			</ol>
		</div>
			
		<h2>Copyright</h2>
		<div>
			<p>
				Orchive respects the intellectual property rights of others and expects users of the Services to do the same. We will respond to notices of alleged copyright infringement that comply with applicable law and are properly provided to us. If you believe that your Content has been copied in a way that constitutes copyright infringement, please provide us with the following information: (i) a physical or electronic signature of the copyright owner or a person authorized to act on their behalf; (ii) identification of the copyrighted work claimed to have been infringed; (iii) identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material; (iv) your contact information, including your address, telephone number, and an email address; (v) a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and (vi) a statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.
			<p>
		</div>
		
		<h2>Links</h2>
		<div>
			<p>
				There may be links on Orchive that lead to third-party websites. Orchive takes no responsibility for the content, accuracy, availability, or any other aspect of the link or its destination. You assume all risk of your use of these third-party resources.
			<p>
		</div>
		
		<h2>Limitation of Liability</h2>
		<div>
			<p>
				TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ORCHIVE AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF PROFITS, DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICES; AND (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL THEORY, WHETHER OR NOT ORCHIVE HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
			<p>
		</div>
		
		<!-- <h2>Controlling Law and Jurisdiction</h2>
		<div>
			[Something local to New Jersey] theirs is something about Pennsylvania</div>
		-->
		
			These Terms of Use and Privacy Policy supersede all agreements between you and Orchive. These Terms apply only to Orchive. Orchive reserves the right to update or edit these Terms at any time. Orchive will attempt to notify all account-holding users of the updated Terms. They will always be available at www.orchive.com/terms. Your use of the site is governed by the current version of terms, no matter how recently updated.