<div id="footer" class="clearBoth">
	<div id="footerContent">
	
		<div id="top">
			<table>
				<tr>
					<th>Support</th>
					<th>About</th>
					<th>Updates</th>
				</tr>
				
				<tr>
					<td><%=link_to('Command Center', '/command')%></td>
					<td><%=link_to('About SSChan', '/about')%></td>
					<td><%=link_to('SSC on Facebook', 'https://www.facebook.com/groups/170930939594231/')%></td>

				</tr>
				
				<tr>
					<td><%=link_to('FAQ', '/FAQ')%></td>
				</tr>
				
				<tr>
				</tr>
			</table>
		</div>
		
		<div id="bottom">
			<p class="inline">Copyright 2011 &copy SSChan, All Rights Reserved</p>
				<p class="inline floatRight">t:16095555555 e:jdtang13@gmail.com</p>
			
			

			<!--<div id="google_translate_element"></div>
			<script>
				function googleTranslateElementInit() {
					new google.translate.TranslateElement({
						pageLanguage: 'en'}, 'google_translate_element');
				}
		</script>
		<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>-->

		
		</div>
	</div>
</div>