<style type="text/css">
#logo {
border-style:none;
width:142px;
height:40px;
}

</style>

<header>
	<header>
		<span id='logo'>
			<%= link_to(image_tag('logo_alt.png', :alt=>'SSChan', :id=>'logo'), '/') %>
		</span>
		<span class="floatRight">
                        <%= link_to('sschan', '/posts') %>
		</span>
	</header>
</header>